name: MS Teams Notification

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Notify teams channel
        uses: jdcargile/ms-teams-notification@v1.3
        with:
          github-token: ${{ github.token }}
          ms-teams-webhook-uri: ${{ secrets.MS_TEAMS_WEBHOOK_URI }}
          notification-summary: Please approve the merge request 
          notification-color: 17a2b8
          timezone: America/Denver
